body{
    padding: 100px;
}
.submit-area{
    margin-top: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(172, 201, 166);
}
#transection-area{
    display: none;
}
.status{
    margin: 0px 40px;
    font-size: larger;
    border-radius: 10px;
    color: white;
    padding: 20px;

}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: tomato;
}
.balance{
    background-color: yellowgreen;
}